h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	color: #4B4B4B;
}

body, p {
	font-family: 'Open Sans', sans-serif;
	color: #4B4B4B;
}

.swiper-button-prev, .swiper-button-next {
	color: #9CA27B;
}

@media only screen and (max-width: 768px) {
  	.swiper-button-prev, .swiper-button-next {
		display: none;
	}
}

::-moz-selection { 
	background-color: #476f30; 
	color: #fff; 
} 
::selection { 
	background-color: #476f30; 
	color: #fff; 
}